

.product {
  display: inline-block;
  width: 300px;
}


.product .title {
  font-size: 30px;
  font-weight: bold;
}

.product .price {
  font-size: 15px;
  display: inline-block;
}

.product .qty-container {
  display: inline-block;
  float: right;
}

.product .qty-container i {
  cursor: pointer;
}

.product > img {
  width: 100%;
  height: auto;
}
